.header {
    display: flex;
    height: 50px;
    width: 100%;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.header > img {
    height: 80%;
    width: 70px;
    margin-right: 6px;
}

.header > h1 {
    font-size: 1.25rem;
    margin-right: auto;
}
