.button1{
    height: 80px;
    width: 80px;
    color: rgb(0, 0, 0);
    margin: 0 30px 15px 30px;
    box-shadow: 0 10px 10px 0; 
    border-radius: 10px;
    font-family: sans-serif;
}

#dieheld{
  background-color: rgb(68, 194, 68);
}
#dienotheld{
  background-color: white;
}