.head{
    width: 100%;
    height: 100px;
    box-shadow: 0px 10px 10px 0px;
    color: rgb(148, 167, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 70px;
    width: 60px;
}